---
---
#intro
  %p Szia, Csiszár Attila webfejlesztő vagyok!
  
  %p
    Jelenleg 
    %a{:href=>"http://nexum.hu/"} Szegeden,
    LAMP+Zend környezetben,
    %a{:href=>"cv/#fbb_projektek"} nagyforgalmú projekteken
    csiszolom a tudásom.
    
  %p 
    A munkám egyben a hobbim is, de szabadidőmben inkább Rubyval és Railsszel foglalkozom: 
    %a{:href=>"/irasok"}írok 
    és 
    %a{:href=>"/olvasasok"} olvasok róluk.
  
  %p 
    Annak idején diplomamunkaként írtam egy 
    %a{:href=>"http://szakdolgozat.csiszarattila.com"}webáruházat Railsben, 
    amiből sikeres e-book lett.
    
  %p 
    Lelkes open-source hívő vagyok: a másoktól nem szégyelt kódjaimat a
    %a{:href=>"http://github.com/csiszarattila/"} Githubon osztom meg, 
    ezenkívül írtam pár 
    %a{:href=>"tutorialok"} tutorialt 
    unix rendszerek használatáról, érdekes projektekről.
  
  %p 
    Kérdésed van vagy úgy gondolod segíthetek? Akkor lépj kapcsolatba velem a
    %a{:href=>"/kapcsolat/"} csiszar.ati@gmail.com 
    e-mail címen.
