---
title: kapcsolat
keywords: kapcsolat, elérhetőségek
description: |'Csiszár Attila (webprogramozó) személyes oldala, azon belül is az elérhetőségei.
---
#contact

  %p 
    E-mail: csiszar.ati@gmail.com

  %p 
    Web: 
    %a{:href=>"http://csiszarattila.com"} http://csiszarattila.com

  %p 
    Blog:
    %a{:href=>"http://csiszarattila.com/rubysztan"} http://csiszarattila.com/rubysztan

  %p 
    GitHub:
    %a{:href=>"http://github.com/csiszarattila"} http://github.com/csiszarattila